<section class="hero-banner position-relative overflow-hidden">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="position-relative left-hero-color">
                    <h1 class="mb-0 fw-bold">
                        360 Industry Experience
                    </h1>
                    <p>Our Team have worked in every role within contact centres giving us a unique insight into call centre operations at all levels</p>
                    <a href="#" class="btn btn-warning btn-hover-secondery"><span class="d-inline-block me-2"><i class="ti ti-playstation-triangle"></i></span> Discover more</a>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="position-relative right-hero-color">
                    <img src="{{ site.github.url }}/assets/images/hero/homeimage.png" class="img-fluid"> 
                </div>          
            </div>
        </div>
    </div>
</section>