<section class="contact bg-primary position-relative overflow-hidden">
    <div class="container position-relative">
        <div class="dots-shape-left position-absolute"><img src="./assets/images/icons/dot-shape.png"></div>
        <div class="dots-shape-right position-absolute"><img src="./assets/images/icons/dot-shape.png"></div>
        <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <small class="fs-7 d-block text-warning">Get in touch</small>
                <h2 class="fs-3 text-white mb-0">Ready to realise your potential?</h2>
                <div class="owl-carousel owl-theme testimonial owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transition: all 0.25s ease 0s; width: 3216px; transform: translate3d(-1072px, 0px, 0px);">
                            <div class="owl-item cloned" style="width: 526px; margin-right: 10px;">
                                <div class="item">
                                    <div class="details position-relative">
                                        <p class="fs-5 fw-light blue-light mb-4">
                                            Drop us a message about your needs and AL Performance will get back to ASAP.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                <form class="position-relative">
                    <div class="row ps-xxl-5 ps-xl-5 ps-lg-3 ps-md-0 ps-sm-0 ps-0">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="form-label text-white fs-7 mb-3">Your Name</label>
                                <input type="text" class="form-control border-0" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group">
                                <label class="form-label text-white fs-7 mb-3">Company Name</label>
                                <input type="text" class="form-control border-0" placeholder="Enter your company name">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label text-white fs-7 mb-3">Email Address</label>
                                <input type="email" class="form-control border-0"
                                    placeholder="Enter your email address">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label text-white fs-7 mb-3">Message</label>
                                <textarea class="form-control border-0" placeholder="Your message"></textarea>
                            </div>
                        </div>

                        <div class="agree fs-7 fw-500">
                            By contacting, you agree to our <a href="#" class="text-warning text-decoration-none">terms
                                and conditions of use.</a>
                        </div>
                        <div class="col-12">
                            <button
                                class="btn btn-warning btn-hover-secondery text-capitalize mt-2 w-auto contact-btn">Get
                                in touch</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="trusted-companies">
            <div class="row justify-content-center">
                <div class="col-xx-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                    <h3 class="fs-7 mb-0 text-white text-center">Partners with industry specialists</h3>
                    <ul
                        class="d-flex flex-wrap align-items-center list-unstyled mb-0 pl-0 owl-carousel owl-theme trusted-logos owl-loaded owl-drag">








                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1712px;">
                                <div class="owl-item active" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/google.svg"></a></li>
                                </div>
                                <div class="owl-item active" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/microsoft.svg"></a></li>
                                </div>
                                <div class="owl-item active" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/amazon.svg"></a></li>
                                </div>
                                <div class="owl-item active" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/unique.svg"></a></li>
                                </div>
                                <div class="owl-item" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/google.svg"></a></li>
                                </div>
                                <div class="owl-item" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/microsoft.svg"></a></li>
                                </div>
                                <div class="owl-item" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/amazon.svg"></a></li>
                                </div>
                                <div class="owl-item" style="width: 214px;">
                                    <li class="text-center item"><a href="#"><img
                                                src="./assets/images/contact/unique.svg"></a></li>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>