<section class="our-service position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <img src="./assets/images/our-service/our-service.png" class="img-fluid"> 
            </div>
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ps-xxl-0 ps-xl-0 ps-lg-3 ps-md-3 ps-sm-3 ps-3">
                <small class="fs-7 d-block">Our Service</small>
                <h2 class="fs-2 text-black mb-0">Contact Center Optimisation</h2>
                <p class="mb-0 fw-500 fs-7">
                    AL Performance works with you to get the most out of their contact centers and fully ultilise the tools you have invested in.
                <ul class="list-unstyled mb-0 pl-0">
                    <li class="d-flex flex-wrap align-items-start">
                        <i class="ti ti-circle-check fs-4 pe-2"></i>
                        <span class="fs-7 text-black">Hands-on consulting.</span>
                    </li>
                    <li class="d-flex flex-wrap align-items-start">
                        <i class="ti ti-circle-check fs-4 pe-2"></i>
                        <span class="fs-7 text-black">Realise ROI of contact centre systems</span>
                    </li>
                    <li class="d-flex flex-wrap align-items-start">
                        <i class="ti ti-circle-check fs-4 pe-2"></i>
                        <span class="fs-7 text-black">Five9® Accredited</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>