<section class="portfolio position-relative bg-primary">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12"><small class="fs-7 d-block text-warning">Our Services</small></div>
            <div class="col-12 d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-xxl-between justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-between justify-content-sm-center ">
                <h2 class="fs-3 text-white mb-0">Industry leading services based on<br> REAL experience.</h2>
            </div>
        </div>
        <div class="row d-flex flex-wrap justify-content-center step-row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-phone-call text-white"></i></div>
                        <h3 class="fs-4 text-white">IVR and Inbound efficiency review</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon  mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-device-desktop-analytics text-white"></i></div>
                        <h3 class="fs-4 text-white">Outbound Strategy Review</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-headset text-white"></i></div>
                        <h3 class="fs-4 text-white">Contact Centre Expansion Planning</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-file-description text-white"></i></div>
                        <h3 class="fs-4 text-white">Phased Sales Scripting and Optimisation</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon  mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-chart-arrows-vertical text-white"></i></div>
                        <h3 class="fs-4 text-white">CRM Lead Scoring and Realisation</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 text-center">
                <div class="card bg-transparent mb-4">
                    <div class="card-body">
                        <div class="icon mx-auto rounded-circle d-flex justify-content-center align-items-center"><i class="ti ti-users text-white"></i></div>
                        <h3 class="fs-4 text-white">Bespoke Responsible Telemarketing</h3>
                        <a class="btn btn-warning btn-hover-secondery" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>